[Unit]
Description=Blobfuse2 Azure Blob Storage Mount
After=network-online.target
Wants=network-online.target

[Mount]
What=blobfuse2
Where=/mnt/blobfuse2
Type=fuse3
Options=--config-file=/etc/blobfuse2/blobfuse2.yaml,allow_other,_netdev

[Install]
WantedBy=multi-user.target
