[Unit]
Description=YouTube Streamer Service
After=network-online.target mnt-blobfuse2.mount
Requires=mnt-blobfuse2.mount

[Service]
Type=simple
ExecStart=/usr/local/bin/streamer.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
